.container
	.row
		#main
			#containerArea
				position: relative
				display: block
				top: 60px
				@include display(flex)
				@include flex-direction(column)
				@include align-items(center)
				@include justify-content(space-between)

				.mainContainer
					background-color: aliceblue
					padding: 20px
					border-radius: 8px
					border: 1px solid steelblue
					width: 100%
					min-width: 300px
					max-width: 500px

				.loginContainer
					background-color: aliceblue
					padding: 20px
					border-radius: 8px
					border: 1px solid steelblue
					width: 100%
					min-width: 300px
					max-width: 500px