body {
	/*background-color: #1c2842;*/
	/*background-color: #e7feff;*/
	background-color: #2e5894;
}

.main-bar {
	width: 100%;
	background: #1c2842;
	height: 50px;
}

h1 {
	text-decoration: underline;
	color: white;
}