.container {
    background-color: #fff;
}

#header {
    background-color: lightblue;
    border-bottom: thick solid steelblue;
}

#footer :first-child {
    color: white;
}

.top-buffer {
    margin-top: 20px;
}

#signUpContainer {
    border-radius: 14px;
    background-color: lightblue;
    box-shadow: 0 1px 5px rgba(0,0,0,0.75);

    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
    max-width: 55%;
    min-width: 50%;
    margin-left: 24%;
}
.col-sm-6 {
    width: 80%;
}
