<!-- Sidebar -->
<div class="row">
  <div class="col-sm-3">
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#" id="goToHome">Home</a></li>
            <li><a href="#" id="goToProfile">Profile</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Circles <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Circle 1</a></li>
                <li><a href="#">Circle 2</a></li>
                <li><a href="#">Circle 3</a></li>
                <li><a href="#" id="goToCreateCircle">Create Circle</a></li>
              </ul>
            </li>
            <li><a href="#" id="goToSettings">Settings</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="create-circle-view"></div>
<div id="feed-container"></div>
<div id="profile-container"></div>
<div id="edit-profile-container"></div>