<div class = "row">
	<div class="col-sm-6" id="CircleTitleContainer">
	<h3 id="CircleHeader"> Circle</h3>
		
	</div>
</div>
<div class = "row">
	<div class="col-sm-6" id="CircleContainer">
	  <form method="post" action="/signup" id="signupform" class="form-horizontal" role="form">
		<div class="main-circle-area">
			<div id="circles"></div>
			<textarea id="circleDescription" class="form-control" style="overflow:auto;resize:none"></textarea>
			<button id="submitButton" type="submit">Post</button>
		</div>
	  </form>
	</div>
</div>