<div>
  <ul class="bullets">
    <li class="bullet three-col-bullet">
      <br></br>
      <div class="bullet-icon bullet-icon-1">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png
  " alt="">
      </div>
      <div id="circleAreaContainer" class="bullet-content">
        <h2 href="{{url}}">{{name}}</h2>
        <p>{{description}}</p>
        <p>{{visibility}}</p>
        <td><button>Post to Circle</button></td>
        <td><button>Edit</button></td>
        </div>
    </li>  
  </ul>
</div>

