<nav class="navbar navbar-fixed-top main-bar" role="navigation">
  <div class="container">
    <div class="row" id = "headerRow">
      <img src="static/img/cherami-logo-150.png" class="img-responsive" alt="Responsive image">
      <div class="col-xs-2">
        <div>
          <a class="profile-button">
            <span class="glyphicon glyphicon-user" style="font-size:20px;"></span>
          </a>
        </div>
      </div>
      <div class="col-xs-5">
        <div class="input-group main-search-bar">
          <input type="text" class="form-control" placeholder="Search for users">
          <a class="search-button">
            <span class="glyphicon glyphicon-search" style="font-size:20px;"></span>
          </a>
        </div>
      </div>
      <button id="logout"> LOG OUT </button>
    </div>
  </div>
</nav>