<div class="container">
  <div class="rowTwo" id = "headerRow">
    <img src="static/img/cherami-logo-150.png" class="img-responsive" alt="Responsive image">
    <div id="search">
      <input id="search-form" type="text" class="form-control" placeholder="Search for users">
          <button class ="submit-search" id="glass">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
          </button>
<!--       <a class="search-button">
        <button> Search </button>
      </a> -->
    </div>

    <button id="logout"> LOG OUT </button>
  </div>
</div>
