<div id="loginContainer">
  <form method="post" action="/login" id="loginForm" role="form" novalidate="novalidate">
    <h3 id="containerHeader">Log in</h3>
    <div class="fieldgroup">
      <p id="response"></p>
      <label for="handle">Handle</label>
      <div class="fieldgroup">
          <input type="text" name="handle" id="handle" placeholder="Enter handle">
      </div>
    </div>
    <div class="fieldgroup">
      <label for="inputName">Password</label>
      <div class="fieldgroup">
        <input type="password" id="pass1" class="form-control" name="password" placeholder="Enter your password">
      </div>
    </div>
    <div>
      <div>
        <div class="checkbox">
          <label>
            <button type="submit" id="login">Log in</button>
          </label>
        </div>
      </div>
    </div>
    <div>
      <div id="makeNewAccount">  
        <p id="existingUserForm">New to cherAmi?</p>
        <a type="button" id="goToSignup">Sign up</a>
      </div>
    </div>
  </form>
</div>
