<div id="loginContainer">
  <form method="post" action="/signup" id="signupform" role="form">
    <h3 id="containerHeader">Log in</h3>
    <div>
      <label for="handle">Handle</label>
      <div>
          <input type="text" id="handle" placeholder="Enter handle">
      </div>
    </div>
    <div>
      <label for="inputName">Password</label>
      <div>
        <input type="password" id="pass1" class="form-control" name="Password" placeholder="Enter your password">
      </div>
    </div>
    <div>
      <div>
        <div class="checkbox">
          <label>
            <input type="checkbox" id="remember-me"> Remember me
            <button type="submit" id="login">Log in</button>
          </label>
        </div>
      </div>
    </div>
    <div>
      <div>  
        <p id="existingUserForm"><strong>New to cherAmi? </strong>
          <button type="button" id="goToSignup">Sign up</button>
        </p>
      </div>
    </div>
  </form>
</div>
