<div class="row">
    <div></div>
    <div id="feed-area">
        <div class="row">

<!--           <form id="postContainer" role="form" class="form-horizontal">
 -->            <div class="textarea-container">
              <div id="postAreaContainer">
                  <textarea id="postArea" rows="4" style="overflow:auto;resize:none"></textarea>
              </div>
              <!-- #messages is where the messages are placed inside -->
              <div>
                  <div>
                      <div id="warningMessages"></div>
                  </div>
              </div>
              <div id="submition">
                  <button id="submitButton" type="submit">Submit</button>
              </div>
            </div>
            <div class="textarea-size">            
              <div id="messages"></div>
            </div>
<!--           </form>
 -->
        </div>
        <div></div>
    </div>
</div>