<div class="row">
    <div class="col-md-4"></div>
    <div id="feed-area" class="col-md-4">
        <div class="row">
<!--           <form id="postContainer" role="form" class="form-inline">
              <div class="form-group"> -->
              <div class="textarea-container">
                <textarea id="postArea" style="overflow:auto;resize:none" name="postArea" class="form-control"></textarea>
                <div class="textarea-size"></div>
                <button id="submitButton" type="submit">Submit</button>
              </div>
<!--           </form>
 -->          <div id="messages"></div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>