<div class="row">
      <div class="col-md-4"></div>
      <div id="feed-area" class="col-md-4">
        <div class="row">
          <form method="post" action="/post" id="postContainer" class="form-horizontal" role="form">
              <div class="textarea-container">
                <textarea id="postArea" name="postArea" class="form-control"></textarea>
                <div class="textarea-size"></div>
                <button id="submitButton" type="submit">Submit</button>
              </div>
            </form>
          </div>
        <div id="messages"></div>
      </div>
      <div class="col-md-4"></div>
</div>