<div id="profileContainer" class="container">
    <h3 id="containerHeader">Profile</h3>

	<div class="row">
	  <div class="col-xs-6 col-md-4">
	  	<img src="..." class="img-circle" alt="Responsive image">
	  	<div class="form-group">
		    <label for="exampleInputFile">File input</label>
		    <input type="file" id="exampleInputFile">
		    <p class="help-block">Example block-level help text here.</p>
	  	</div>
	  </div>
	</div>

	<div id="profileForm" class="row">
	  <div>
	  	<label class="col-sm-2 control-label" for="textArea">Bio</label>
		<textarea id="textArea" class="form-control" rows="2"></textarea>
	  </div>

	  <div>
	  	<label class="col-sm-2 control-label" for="textArea">Interests</label>
		<textarea id="textArea" class="form-control" rows="2"></textarea>
	  </div>

	  <div class="form-group">
	    <label class="col-sm-2 control-label">Location</label>
	    <div>
	        <input id="location" type="text" name="Location" class="form-control"
	           placeholder="Los Angeles" data-role="tagsinput"/>
	    </div>
	  </div>

	  <label for="genderSelector" class="col-sm-2 control-label">Gender</label>
	  <div class="col-xs-6 col-md-4">
		<select id="genderSelector" class="form-control">
		  <option>Male</option>
		  <option>Female</option>
		</select>
	  </div>
	</div>

</div>

