<div id="profileContainer" class="container">
    <h3 id="containerHeader">Profile</h3>
    <div id="profileFieldsContainer">
       <div id="profileForm" class="row">
		  <div class="page-header">
		    <h3>Overview</h3>
          <button type="button" id="editProfile" class="btn btn-default">Edit profile</button>
		  </div>
		  <dl class="dl-horizontal">
			<dt>Full Name</dt>
			<dd>Abdul Alzaid</dd>
			<dt>Gender</dt>
			<dd>Male</dd>
			<dt>Age</dt>
			<dd>03/23/1992</dd>
		   </dl>
		  <div class="page-header">
		    <h3>About</h3>
		  </div>
		  <dl class="dl-horizontal">
			<dt>Location</dt>
			<dd>Los Angeles</dd>
			<dt>Bio</dt>
			<dd>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
			</dd>
			<dt>Interests</dt>
			<dd>vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</dd>
			<dt>Languages Spoken</dt>
			<dd>Arabic, English, French</dd>
		   </dl>

		</div>
    </div>
</div>
<div id="profile-view"></div>
