<div class="col-sm-6" id="signUpContainer">
  <form method="post" action="/signup" id="signupform" class="form-horizontal" role="form">
    <div class="form-group">
      <label for="Username" class="col-md-4 control-label">Choose a handle</label>
      <div class="col-md-8">
        <input type="text" class="form-control" name="Handle" id="handle" placeholder="@handle">
      </div>
    </div>
    <div class="form-group">
      <label for="InputEmail" class="col-md-4 control-label">Email address</label>
      <div class="col-md-8">
          <input type="email" class="form-control" id="InputEmail" placeholder="Enter email">
      </div>
    </div>
    <div class="form-group">
      <label for="inputName" class="col-md-4 control-label">Password</label>
      <div class="col-md-8">
        <input type="password" id ="pass1" class="form-control" name="Password" placeholder="Choose a password more than 6 characters">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-md-4 control-label">Confirm password</label>
      <div class="col-md-8">
        <input type="password" id ="pass2" class="form-control" name="ConfirmPassword" placeholder="Re-enter your password" >
        <span id="confirmMessage" class="confirmMessage"></span>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-10">
        <div class="checkbox">
          <label>
            <input type="checkbox" id="remember-me"> Remember me
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-10">
        <button type="submit" id="signup" class="btn btn-default">Sign up</button>
      </div>
    </div>
  </form>
</div>
