<div id="signUpContainer">
  <form method="post" action="/signup" id="signupform" role="form">
    <h3 id="containerHeader">Sign up</h3>
    <div class="form-group">
      <label for="Username">Choose a handle</label>
      <div>
        <input type="text" name="handle" id="handle" placeholder="@handle">
      </div>
    </div>
    <div>
      <label for="input-email">Email address</label>
      <div>
          <input type="email" name = "email" id="input-email" placeholder="Enter email">
      </div>
    </div>
    <div class="form-group">
      <label>Password</label>
      <div class="col-md-8">
        <input type="password" id="pass1" name="password" placeholder="Choose a password more than 8 characters">
      </div>
    </div>
    <div>
      <label>Confirm password</label>
      <div>
        <input type="password" id ="pass2" name="confirmPassword" placeholder="Re-enter your password" >
        <span id="confirmMessage" class="confirmMessage"></span>
      </div>
    </div>

    <div>
      <div>
        <div class="checkbox">
          <label>
            <input type="checkbox" id="remember-me"> Remember me
          </label>
        </div>
      </div>
    </div>
    <div>
      <div>
        <button type="submit" id="signup">Sign up</button>
        <p id="existingUserForm"><strong>Already have an account? </strong>
          <button type="button" id="goToLogin">Log in</button>
        </p>
      </div>
    </div>
  </form>
</div>
